<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetDesigner Woes</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body>
    <h1>NetDesigner Woes</h1>

    <h2>What are your NetDesigner woes?</h2>
    <form action="/addWoe" method="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Issue" name="issue">
        <input type="text" placeholder="Wishes" name="wishes">
        <input type="text" placeholder="Action Taken" name="actionTaken">
        <input type="text" placeholder="Solution" name="solution">
        <button type="submit">Submit</button>
      </form>

      <h2>List of Woes:</h2>
      <ul class="woes">
        <% for(let i=0; i < info.length; i++) {%>
            <li class="woes">
                <span><%= info[i].name %></span>
                <span><%= info[i].issue %></span>
                <span><%= info[i].wishes %></span>
                <span><%= info[i].actionTaken %></span>
                <span><%= info[i].solution %></span>
                <span class='fa-thumbs-up'></span>
                <span class='fa-trash'></span>
            </li>
        <% } %>
        </ul>
    <script src="/public/js/main.js"></script>
</body>

</html>